* {
	margin: 0;
	padding: 0;
}

header, footer, section, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background-image: url("images/mainbg.jpg");
}
